$dark: #000;
.loading {
  &.circle,
  &.error {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.circle {
    span {
      text-indent: -9999px;
    }
    &::after {
      content: '';
      margin-top: -20px;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 0 -10px 0 #ccc, 10px 0 0 #ccc, 0 10px 0 #ccc, -10px 0 0 #ccc,
      -7px -7px 0 #ccc, 7px -7px 0 #ccc, 7px 7px 0 #ccc, -7px 7px 0 #ccc;
      :local {
        animation: loading-circle 1.5s linear infinite;
        @keyframes loading-circle {
          from {
            transform: scale(3) rotateZ(0deg);
          }
          to {
            transform: scale(3) rotateZ(360deg);
          }
        }
      }
    }
  }
  &.error {
    span {
      color: rgba($dark, .1);
      font-size: 120px;
      text-shadow: 0 5px 20px rgba($dark, .05);
      letter-spacing: 2px;
    }
  }
}
